# Google Sheets ID (lo encuentras en la URL del spreadsheet)
REACT_APP_SHEET_ID=1MmsqO01u4y6W3SeBN5gxLzSs1OeoMgtwmj33PhHBZQY

# (Opcional) URL del Google Apps Script para escritura
# REACT_APP_APPS_SCRIPT_URL=https://script.google.com/macros/s/TU_SCRIPT_ID/exec
